{% extends 'baseback.html.twig' %}
{% block container %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Ajouter Matiére</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <div class="card-head">
                            <header>Ajouter Matiére</header>
                        </div>
                        <div class="card-body row">
                            {{ form_start(form) }}
                            <div class="card-body row">
                                <div class="col-lg-6 p-t-20">
                                    <div
                                            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width"><b><i>nom : </i></b>

                                        {{ form_widget(form.Nom, { 'attr': {'class': 'mdl-textfield__input'} }) }}

                                    </div>
                                </div>
                                <div class="col-lg-6 p-t-20">
                                    <div
                                            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width"><b><i>Nombre de seance : </i></b>

                                        {{ form_widget(form.nbrseance, { 'attr': {'class': 'mdl-textfield__input'} }) }}

                                    </div>
                                </div>
                                <div class="col-lg-6 p-t-20">
                                    <div
                                            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width"><b><i>Description : </i></b>

                                        {{ form_widget(form.description, { 'attr': {'class': 'mdl-textfield__input'} }) }}

                                    </div>
                                </div>
                                <div class="col-lg-6 p-t-20">
                                    <div
                                            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width"><b><i>Coéfficient : </i></b>

                                        {{ form_widget(form.coefficient, { 'attr': {'class': 'mdl-textfield__input'} }) }}

                                    </div>
                                </div>
                                <div class="col-lg-12 p-t-20 text-center">
                                    <button type="submit"
                                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink">Ajouter </button>
                                    <button type="button"
                                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default">Annuler </button>
                                </div>
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}