{% extends 'baseback.html.twig' %}
{% block container %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Liste des matieres</div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tabbable-line">

                        <div class="tab-content">
                            <div class="tab-pane active fontawesome-demo" id="tab1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card card-box">
                                            <div class="card-head">
                                                <header>Liste des matieres</header>
                                                <div class="tools">
                                                    <a class="fa fa-repeat btn-color box-refresh"
                                                       href="javascript:"></a>
                                                    <a class="t-collapse btn-color fa fa-chevron-down"
                                                       href="javascript:"></a>
                                                    <a class="t-close btn-color fa fa-times"
                                                       href="javascript:"></a>
                                                </div>
                                            </div>
                                            <div class="card-body ">

                                                <div class="table-scrollable">
                                                    <table
                                                            class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
                                                            id="example4">
                                                        <thead>
                                                        <tr>
                                                            <th> ID </th>
                                                            <th> Nom </th>
                                                            <th> Nombre de Seance </th>
                                                            <th> Description </th>
                                                            <th> Coéfficient </th>
                                                            <th>Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for matieres in matieres %}
                                                            <tr class="odd gradeX">
                                                                <td class="patient-img">
                                                                    {{ matieres.idmatiere }}
                                                                </td>
                                                                <td class="left"> {{ matieres.nom }} </td>
                                                                <td>{{ matieres.nbrseance }}</td>
                                                                <td class="left">{{ matieres.description }} </td>
                                                                <td class="left">{{ matieres.coefficient }} </td>
                                                                <td><a href="{{  path('scolarite_delete',{'idmatiere':matieres.idmatiere}) }}"> Supprimer </a></td>
                                                                <td><a href="{{  path('scolarite_modifier',{'idmatiere':matieres.idmatiere}) }}"> Modifier </a></td>


                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}