{% extends 'basefront.html.twig' %}
{% block content %}

                                                <div class="table-scrollable">
                                                    <table
                                                            class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
                                                            id="example4">
                                                        <thead>
                                                        <tr>
                                                            <th> Matiére </th>

                                                            <th>Note 1 </th>
                                                            <th>Note 2 </th>
                                                            <th> Moyenne </th>

                                                            <th>Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for notes in notes %}
                                                            <tr class="odd gradeX">
                                                                <td class="left">{{ notes.Matiere.nom }} </td>

                                                                <td class="left"> {{ notes.note1 }} </td>
                                                                <td>{{ notes.note2 }}</td>
                                                                <td class="left">{{ notes.moyenne }} </td>
                                                                <td><a href="{{  path('scolarite_modifierfrontn',{'idnote':notes.idnote}) }}"> Modifier </a></td>





                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <a href="{{ path('pdf') }}">Télécharger en pdf</a>
                                                </div>


{% endblock %}