{% extends 'Base_backend/base.html.twig' %}
{% block titre %}
     Ajout d'un événement
{% endblock %}

{% block navbar %}
    <li class="nav-item active open">
        <a href="#" class="nav-link nav-toggle">
            <span class="title">Evenements</span><span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item">
                <a href="{{ path('events_accueil') }}" class="nav-link"> <span class="title">
												Calendrier</span>
                </a>
            </li>
            <li class="nav-item active">
                <a href="{{ path('events_listeevent') }}" class="nav-link "> <span class="title">
												Liste des événements</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('events_listeeventpending') }}" class="nav-link "> <span class="title">Evénements en attente</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="{{ path('events_listecategorie') }}" class="nav-link "> <span class="title">Liste des catégories</span>
                </a>
            </li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <!-- start page content -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Ajout d'un événement</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;
                            <a class="parent-item"
                               href="{{ path('events_accueil') }}">
                                Accueil
                            </a>&nbsp;
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li><a class="parent-item" href="{{ path('events_listeevent') }}">
                                Evénements
                            </a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li class="active">Ajouter un événement</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Information sur l'événement</header>
                        </div>
                        <div class="card-body" id="bar-parent">
                        {{form_start(f, {'attr': {'class': 'form-horizontal'}} )}}
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Titre de l'événement
                                <span class="required"> * </span>
                            </label>
                            {{ form_widget(f.titre, {'attr': {'class' : 'col-md-5 form-control input-height'}}) }}
                            {% if form_errors(f.titre) is not empty %}
                                <div class="alert alert-danger" >
                                    {{ form_errors(f.titre) }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Description de l'événement
                                <span class="required"> * </span>
                            </label>
                            {{ form_widget(f.description, {'attr': {'class' : 'col-md-5 form-control input-height'}}) }}
                            {% if form_errors(f.description) is not empty %}
                                <div class="alert alert-danger alert-dismissable" >
                                    <div class="alert alert-danger alert-dismissible" >
                                        {{ form_errors(f.description) }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Date de l'événement
                                <span class="required"> * </span>
                            </label>
                            {{ form_widget(f.date, {'attr': {'class' : 'col-md-5 input-height'}}) }}
                            {% if form_errors(f.date) is not empty %}
                                <div class="alert alert-danger alert-dismissible" >
                                        {{ form_errors(f.date) }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group row">
                                <label class="control-label col-md-3">
                                    Date de fin
                                    <span class="required"> * </span>
                                </label>
                                {{ form_widget(f.datefin, {'attr': {'class' : 'col-md-5 input-height'}}) }}
                                {% if form_errors(f.datefin) is not empty %}
                                    <div class="alert alert-danger" >{{ form_errors(f.datefin) }}</div>
                                {% endif %}
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Nombre maximal de participants
                                <span class="required"> * </span>
                            </label>
                            {{ form_widget(f.nbParticipantMax, {'attr': {'class' : 'col-md-5 form-control input-height'}}) }}
                            {% if form_errors(f.nbParticipantMax) is not empty %}
                                <div class="alert alert-danger" >{{ form_errors(f.nbParticipantMax) }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Lieu de l'événement
                                <span class="required"> * </span>
                            </label>
                            {{ form_widget(f.lieu, {'attr': {'class' : 'col-md-5 form-control input-height'}}) }}
                            {% if form_errors(f.lieu) is not empty %}
                                <div class="alert alert-danger" >{{ form_errors(f.lieu) }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Frais de participation
                                <span class="required"> * </span>
                            </label>

                            {{ form_widget(f.frais, {'attr': {'class' : 'col-md-5 form-control input-height'}}) }}
                            {% if form_errors(f.frais) is not empty %}
                                <div class="alert alert-danger" >{{ form_errors(f.frais) }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Catégorie
                                <span class="required"> * </span>
                            </label>
                            {{ form_widget(f.categorie, {'attr': {'class' : 'col-md-5 form-control input-height'}}) }}
                            {% if form_errors(f.categorie) is not empty %}
                                <div class="alert alert-danger" >{{ form_errors(f.categorie) }}</div>
                            {% endif %}
                        </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    Club
                                    <span class="required"> * </span>
                                </label>
                                {{ form_widget(f.club, {'attr': {'class' : 'col-md-5 form-control input-height'}}) }}
                                {% if form_errors(f.club) is not empty %}
                                    <div class="alert alert-danger" >{{ form_errors(f.club) }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    Images
                                </label>
                                {{ form_widget(f.imageFile ) }}
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="offset-md-3 col-md-9">
                                        {{ form_widget(f.Ajouter,{'attr' :{ 'class' : 'btn btn-info m-r-20'}}) }}
                                        <button type="reset" class="btn btn-default">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        {{form_end(f)}}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- end page content -->
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $("#evenement").addClass("open active");
        $("#listevents").addClass("active");
    </script>
{% endblock %}