{% extends 'Base_backend/base.html.twig' %}
{% block titre %}
     {{ event.titre}}
{% endblock %}
{% block navbar %}
    <li class="nav-item active open">
        <a href="#" class="nav-link nav-toggle">
            <span class="title">Evenements</span><span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item">
                <a href="{{ path('events_accueil') }}" class="nav-link"> <span class="title">
												Calendrier</span>
                </a>
            </li>
            <li class="nav-item active">
                <a href="{{ path('events_listeevent') }}" class="nav-link "> <span class="title">
												Liste des événements</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('events_listeeventpending') }}" class="nav-link "> <span class="title">Evénements en attente</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('events_listecategorie') }}" class="nav-link "> <span class="title">Liste des catégories</span>
                </a>
            </li>
        </ul>
    </li>
{% endblock %}
{% block content %}
    <!-- start page content -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">L'événement en détail</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                               href="{{ path('events_accueil')}}">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li><a class="parent-item" href="{{ path('events_listeevent') }}">Evénements</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li class="active">Détails</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-content">
                        <div class="row">
                            <div class="card">
                                <div class="card-topline-aqua">
                                    <header></header>
                                </div>
                                <div class="white-box">
                                    <div class="tab-content">
                                        <div class="tab-pane active fontawesome-demo" id="tab1">
                                            <div id="biography">
                                                <div class="row">



                                                    <div class="col-md-5 col-6 b-r">
                                                        {% if event.club is not empty %}
                                                        <strong>Club respondable</strong>
                                                        <br>
                                                        <p class="text-success">{{ event.club.nom}}</p>
                                                        {% endif %}
                                                        <strong>Titre de l'événement</strong>
                                                        <br>
                                                        <p class="text-success">{{ event.titre}}</p>
                                                    </div>
                                                    <div class="col-md-5 col-6 b-r">
                                                        {% if event.etat == 0 %}
                                                        <a href="{{ path('events_confirmerevent' , {'idevent' : event.idevenement}) }}"
                                                           class="btn btn-success col-md-10"><i class="fa fa-check"></i>
                                                            Confirmer

                                                        </a>
                                                        {% endif %}
                                                        <a href="{{ path('events_modifierevent',{ 'id' : event.idevenement}) }}"
                                                           class="btn btn-primary col-md-10"><i class="fa fa-pencil"></i>
                                                            Modifer
                                                        </a><br>
                                                        {% if event.date < date() %}
                                                        <a href="#"
                                                           class="btn btn-danger col-md-10"><i class="fa fa-trash-o "></i>
                                                            Supprimer
                                                        </a>
                                                        {% else %}

                                                            <a href="{{ path('events_supprimerevent',{ 'id' : event.idevenement}) }}"
                                                               class="btn btn-danger col-md-10"><i class="fa fa-trash-o "></i>
                                                                Supprimer
                                                            </a>
                                                        {% endif %}
                                                    </div>


                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5 col-6 b-r"> <strong>Date de début</strong>
                                                        <br>
                                                        <p class="text-success">{{ event.date|date}}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5 col-6 b-r"> <strong>Date de fin</strong>
                                                        <br>
                                                        <p class="text-success">{{ event.datefin|date}}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5 col-6"> <strong>Lieu</strong>
                                                        <br>
                                                        <p class="text-success">{{ event.lieu}}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3 col-6 center"> <strong>Frais</strong>
                                                        <br>
                                                        <p class="text-success center">{{ event.frais}}</p>
                                                    </div>
                                                    <div class="col-md-5 col-6 center"> <strong>Nombre maximal de participant</strong>
                                                        <br>
                                                        <p class="text-success center">{{ event.nbParticipantMax}}</p>
                                                    </div>
                                                    <div class="col-md-3 col-6 center"> <strong>Catégorie</strong>
                                                        <br>
                                                        <p class="text-success center">{{ event.categorie.libelle}}</p>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-md-12 col-10 b-r"> <strong>Description de l'événement</strong>
                                                        <br>
                                                    </div>
                                                </div>
                                                <p class="m-t-30">{{ event.description}}</p>
                                                <br>

                                                <h4 class="font-bold">Images</h4>
                                                <hr>
                                                <img src="{{asset('../public/images/events/')}}{{ event.imageName }}"
                                                     alt="{{ event.imageName }}" />
                                                <hr>
                                                <h4 class="font-bold">Les participants</h4>
                                                    <div class="table-scrollable">
                                                        <table
                                                                class="table table-striped table-bordered table-hover table-checkable
                                                                order-column valign-middle"
                                                                id="example4">
                                                            <thead>
                                                            <tr>
                                                                <th>Nom du participant</th>
                                                                <th> Action </th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for p in participants %}
                                                                    <tr class="odd gradeX">
                                                                        <td class="left">{{ p.username}}</td>
                                                                        <td>
                                                                            <a href="{{ path('events_supprimerparticipant',{ 'idevent' : event.idevenement,
                                                                                            'idparticipant' : p.id}) }}"
                                                                               class="btn btn-danger btn-xs">
                                                                                <i class="fa fa-trash-o "></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PROFILE CONTENT -->
                </div>
            </div>
        </div>
        <!-- end page content -->
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $("#evenement").addClass("open active");
        $("#listevents").addClass("active");
    </script>
{% endblock %}