{% extends 'Base_frontend/base.html.twig' %}
{% block titre %}
     Proposer un événement
{% endblock %}
{%  block baniere %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({{asset('assets/Front/images/bg_2.jpg')}});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Nos événements</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="#">Home <i class="ion-ios-arrow-forward"></i></a></span>
                    <span><a href="{{ path('events_frontshow') }}"> Evénements</a> <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}

    <!-- start page content -->
    <div class="container">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Proposer un événement</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Information sur l'événement</header>
                        </div>
                        <div class="card-body" id="bar-parent">
                        {{form_start(f, {'attr': {'class': 'form-horizontal'}} )}}
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Titre de l'événement
                                <span class="required"> * </span>
                            </label>
                            {{ form_widget(f.titre, {'attr': {'class' : 'col-md-5 form-control input-height'}}) }}
                            {% if form_errors(f.titre) is not empty %}
                                <div class="alert alert-danger" >
                                    {{ form_errors(f.titre) }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Description de l'événement
                                <span class="required"> * </span>
                            </label>
                            {{ form_widget(f.description, {'attr': {'class' : 'col-md-5 form-control input-height'}}) }}
                            {% if form_errors(f.description) is not empty %}
                                <div class="alert alert-danger alert-dismissable" >
                                    <div class="alert alert-danger alert-dismissible" >
                                        {{ form_errors(f.description) }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Date de l'événement
                                <span class="required"> * </span>
                            </label>
                            {{ form_widget(f.date, {'attr': {'class' : 'col-md-5 input-height'}}) }}
                            {% if form_errors(f.date) is not empty %}
                                <div class="alert alert-danger alert-dismissible" >
                                        {{ form_errors(f.date) }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group row">
                                <label class="control-label col-md-3">
                                    Date de fin
                                    <span class="required"> * </span>
                                </label>
                                {{ form_widget(f.datefin, {'attr': {'class' : 'col-md-5 input-height'}}) }}
                                {% if form_errors(f.datefin) is not empty %}
                                    <div class="alert alert-danger" >{{ form_errors(f.datefin) }}</div>
                                {% endif %}
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Nombre maximal de participants
                                <span class="required"> * </span>
                            </label>
                            {{ form_widget(f.nbParticipantMax, {'attr': {'class' : 'col-md-5 form-control input-height'}}) }}
                            {% if form_errors(f.nbParticipantMax) is not empty %}
                                <div class="alert alert-danger" >{{ form_errors(f.nbParticipantMax) }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Lieu de l'événement
                                <span class="required"> * </span>
                            </label>
                            {{ form_widget(f.lieu, {'attr': {'class' : 'col-md-5 form-control input-height'}}) }}
                            {% if form_errors(f.lieu) is not empty %}
                                <div class="alert alert-danger" >{{ form_errors(f.lieu) }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Frais de participation
                                <span class="required"> * </span>
                            </label>

                            {{ form_widget(f.frais, {'attr': {'class' : 'col-md-5 form-control input-height'}}) }}
                            {% if form_errors(f.frais) is not empty %}
                                <div class="alert alert-danger" >{{ form_errors(f.frais) }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Catégorie
                                <span class="required"> * </span>
                            </label>
                            {{ form_widget(f.categorie, {'attr': {'class' : 'col-md-5 form-control input-height'}}) }}
                            {% if form_errors(f.categorie) is not empty %}
                                <div class="alert alert-danger" >{{ form_errors(f.categorie) }}</div>
                            {% endif %}
                        </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    Club
                                    <span class="required"> * </span>
                                </label>
                                {{ form_widget(f.club, {'attr': {'class' : 'col-md-5 form-control input-height'}}) }}
                                {% if form_errors(f.club) is not empty %}
                                    <div class="alert alert-danger" >{{ form_errors(f.club) }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    Images
                                </label>
                                {{ form_widget(f.imageFile ) }}
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="offset-md-3 col-md-9">
                                        {{ form_widget(f.Ajouter,{'attr' :{ 'class' : 'btn btn-info m-r-20'}}) }}
                                        <button type="reset" class="btn btn-default">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        {{form_end(f)}}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end page content -->
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $("#evenement").addClass("active");
    </script>
{% endblock %}