{% extends 'Base_backend/base.html.twig' %}
{% block titre %} Ajout d'un plat {% endblock %}
{% block content %}

<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Ajouter plats </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="card-head">
                        <header>  Ajouter Plat</header>

                    </div>
                    {{   form_start(form) }}
                    <div class="card-body row">
                        <div class="col-lg-6 p-t-20">
                            <div
                                    class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" >


                                {{ form_row(form.nomPlat, {'attr': {'class': 'form-control'} }) }}


                            </div>
                        </div>
                    </div>
                    <div class="card-body row">
                        <div class="col-lg-6 p-t-20">
                            <div
                                    class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                {{ form_row(form.image, {'attr': {'class': 'form-control'} }) }}

                            </div>
                        </div>
                    </div>
                    <div class="card-body row">
                        <div class="col-lg-6 p-t-20">
                            <div
                                    class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                              {{ form_row(form.type, {'attr': {'class': 'form-control'} }) }}

                            </div>
                        </div>
                    </div>

                        <div class="form-send">
                            <div class="col-lg-12 p-t-20 text-center">


                                {{ form_widget(form.Ajouter, {'attr': {'class': 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink'}})}}
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink" id='btnGiveCommand'>Give Command!</button>

                            </div>

                        </div>
                            {{   form_end(form) }}

                   <br><br>
                    <span id='message'></span>
                    <br><br>


                </div>
            </div>
        </div>
    </div>
</div>
    <script src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            var message = document.querySelector('#message');

            var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
            var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList;

            var grammar = '#JSGF V1.0;'
            var recognition = new SpeechRecognition();
            var speechRecognitionList = new SpeechGrammarList();
            speechRecognitionList.addFromString(grammar, 1);
            recognition.grammars = speechRecognitionList;
            recognition.lang = 'en-US';
            recognition.interimResults = false;

            recognition.onresult = function(event) {
                var last = event.results.length - 1;
                var command = event.results[last][0].transcript;
                message.textContent = 'Voice Input: ' + command + '.';

                if(command.toLowerCase() === 'hello'){
                    $("#cantinebundle_plat_type").val($("#cantinebundle_plat_type option").eq(1).val());
                    $('#cantinebundle_plat_type option').eq(1).val();
                    document.querySelector('#chkSteve').checked = true;
                    $('#cantinebundle_plat_nomPlat').attr('value',command);
                }
                if(command.toLowerCase() === 'dessert'){
                    $("#cantinebundle_plat_type").val($("#cantinebundle_plat_type option").eq(2).val());
                    $('#cantinebundle_plat_type option').eq(2).val();
                    document.querySelector('#chkSteve').checked = true;
                    $('#cantinebundle_plat_nomPlat').attr('value',command);
                }

            };

            recognition.onspeechend = function() {
                recognition.stop();
            };

            recognition.onerror = function(event) {
                message.textContent = 'Error occurred in recognition: ' + event.error;
            }

            document.querySelector('#btnGiveCommand').addEventListener('click', function(){
                recognition.start();

            });

        })

    </script>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $("#cantine").addClass("open active");
        $("#ajouterplat").addClass("active");
    </script>
{% endblock %}

