{% extends '@Events/Base_backend/base.html.twig' %}
{% block title %}
     Liste des catégories
{% endblock %}

{% block navbar %}
    <li class="nav-item active open">
        <a href="#" class="nav-link nav-toggle">
            <span class="title">Evenements</span><span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item">
                <a href="{{ path('events_accueil') }}" class="nav-link"> <span class="title">
												Calendrier</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('events_listeevent') }}" class="nav-link "> <span class="title">
												Liste des événements</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link "> <span class="title">Evénements en attente</span>
                </a>
            </li>
            <li class="nav-item active">
                <a href="{{ path('events_listecategorie') }}" class="nav-link "> <span class="title">Liste des catégories</span>
                </a>
            </li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <!-- start page content -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Liste des Catégories</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;
                            <a class="parent-item"
                               href="http://radixtouch.in/templates/admin/smart/source/light/index.html">Accueil</a>&nbsp;
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li><a class="parent-item" href="#">Catégories</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li class="active">Liste des catégories</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tabbable-line">
                        <div class="tab-content">
                            <div class="tab-pane active fontawesome-demo" id="tab1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card card-box">
                                            <div class="card-head">
                                                <header>Tous les catégories</header>
                                                <div class="tools">
                                                    <a class="fa fa-repeat btn-color box-refresh"
                                                       href="javascript:;"></a>
                                                    <a class="t-collapse btn-color fa fa-chevron-down"
                                                       href="javascript:;"></a>
                                                    <a class="t-close btn-color fa fa-times"
                                                       href="javascript:;"></a>
                                                </div>
                                            </div>
                                            <div class="card-body ">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6 col-6">
                                                        <div class="btn-group">
                                                            <a href="{{ path('events_ajoutcat') }}"
                                                               id="addRow"
                                                               class="btn btn-info">
                                                                Ajouter une catégorie <i class="fa fa-plus"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-6">
                                                        <div class="btn-group pull-right">
                                                            <a class="btn deepPink-bgcolor  btn-outline dropdown-toggle"
                                                               data-toggle="dropdown">Tools
                                                                <i class="fa fa-angle-down"></i>
                                                            </a>
                                                            <ul class="dropdown-menu pull-right">
                                                                <li>
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-print"></i> Print </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-file-pdf-o"></i> Save as
                                                                        PDF </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-file-excel-o"></i>
                                                                        Export to Excel </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="table-scrollable">
                                                    <table
                                                            class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
                                                            id="example4">
                                                        <thead>
                                                        <tr>
                                                            <th> Id </th>
                                                            <th> Libelle </th>
                                                            <th> Description </th>
                                                            <th> Action </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for cat in categories %}
                                                        <tr class="odd gradeX">
                                                            <td>{{cat.idcategorie}}</td>
                                                            <td class="left">{{cat.libelle}}</td>
                                                            <td class="left">{{ cat.description }}</td>
                                                            <td>
                                                                <a href="{{ path('events_modifiercat',{ 'id' : cat.idcategorie} ) }}"
                                                                   class="btn btn-primary btn-xs">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>

                                                                <a href="{{ path('events_supprimercat',{ 'id' : cat.idcategorie}) }}"
                                                                   class="btn btn-danger btn-xs">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end page content -->
{% endblock %}