{% extends "Base_backend/base.html.twig" %}
{% block titre %} Liste de l'archive {% endblock %}
{% block content  %}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Liste des reclamations archivées</div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-line">

                    <div class="tab-content">
                        <div class="tab-pane active fontawesome-demo" id="tab1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-box">
                                        <div class="card-head">
                                            <header>Liste des reclamations archivées</header>
                                            <div class="tools">
                                                <a class="fa fa-repeat btn-color box-refresh"
                                                   href="javascript:"></a>
                                                <a class="t-collapse btn-color fa fa-chevron-down"
                                                   href="javascript:"></a>
                                                <a class="t-close btn-color fa fa-times"
                                                   href="javascript:"></a>
                                            </div>
                                        </div>
                                        <div class="card-body ">
                                            <div class="table-scrollable">
                                                <table
                                                        class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
                                                        id="example4">
                                                    <thead>
                                                    <tr>
                                                        <th> Id  </th>

                                                        <th> Date de la réclamation </th>
                                                        <th> Type de la réclamation </th>
                                                        <th> Le contenu de la réclamation </th>

                                                        <th> etat </th>
                                                        <th>Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for i in r  %}
                                                        {#    {% if i.etat != "Archivée" %}#}

                                                        <tr class="odd gradeX">


                                                            <td class="left"> {{i.id }}</td>
                                                            <td class="left">{{ i.dateReclamation|date("m/d/y")}}</td>
                                                            <td class="left">{{ i.typeReclamation }}</td>
                                                            <td class="left">{{ i.contenuReclamation }}</td>
                                                            <td class="left">{{ i.etat }}</td>





                                                        </tr>


                                                        {#{% endif %}#}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    {% block javascripts %}
        <script type="text/javascript">
            $("#classe").addClass("open active");
            $("#listerec").addClass("active");
        </script>
    {% endblock %}

