{% extends "@Main/Default/index.html.twig" %}

{% block content %}

{% block body %}
    <div class="container">
        <center><h1>Les Prestataires</h1></center>
        <div class="container" style="background-color: black">

            <h3 style="text-align: center;"> Trouver un Prestataire par Nom ou par Titre</h3>

            <div class="widget">
                <form action="recherchePrestataire" method="post" role="form">
                    <div class="col-md-13">

                        <input class="form-control" type="text" placeholder="Entrez le nom ici">


                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success btn-block" type="submit">
                            <i class="fa fa-search">
                            </i>
                        </button>
                    </div>
                </form>
                <br>


                <form action="rechercheService" method="post" role="form">
                    <div class="col-md-13">

                        <input class="form-control" type="text" placeholder="Entrez le titre ici">

                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success btn-block" type="submit" >
                            <i class="fa fa-search" >
                            </i>
                        </button>
                    </div>
                </form>
            </div>
        </div>


        <br>

        <div class="container">

            {% for e in evaluations %}

                {% if e.target.titre!=null %}

                 <b> Nom : </b> {{ e.target.username }} <br>
                  <b> Email : </b> {{ e.target.email }} <br>
                  <b>   </b>
                    <a class="btn btn-success" href="{{ path('ajouterReclamationUser',{ 'id':e.target.id }) }}">Réclamation</a><br>
                  <b>  </b>
                    <font size="6px" color=lime>
                    {% if e.nbrEtoiles == 1 %}
                        &#9733 &#9734 &#9734 &#9734 &#9734
                    {% endif %}
                        {% if e.nbrEtoiles == 2 %}
                            &#9733 &#9733 &#9734 &#9734 &#9734
                        {% endif %}
                            {% if e.nbrEtoiles == 3 %}
                                &#9733 &#9733 &#9733 &#9734 &#9734
                            {% endif %}
                                {% if e.nbrEtoiles == 4 %}
                                    &#9733 &#9733 &#9733 &#9733 &#9734
                                {% endif %}
                                    {% if e.nbrEtoiles == 5 %}
                                       &#9733 &#9733 &#9733 &#9733 &#9733
                                    {% endif %}
                    </font>
                    <br><br>

                {% endif %}
            {% endfor %}

          {#  {% for u in users %}
                {% if u.titre!=null %}
                    {% if u.username != app.user.username %}

                        <b> Nom : </b>{{ u.username }} <br>
                        <b> Email : </b>{{ u.email }} <br>
                        <b>  </b>
                        <a class="btn btn-success" href="{{ path('ajouterReclamationUser',{ 'id':u.id }) }}">Réclamation</a><br>
                        Evaluer:
                        <font size="6px" color=lime>
                            <a href="{{ path('ajouterEvaluation', { 'id':u.id , 'nbr':1 }) }}">&#9734</a>
                            <a href="{{ path('ajouterEvaluation', { 'id':u.id , 'nbr':2 }) }}">&#9734</a>
                            <a href="{{ path('ajouterEvaluation', { 'id':u.id , 'nbr':3 }) }}">&#9734</a>
                            <a href="{{ path('ajouterEvaluation', { 'id':u.id , 'nbr':4 }) }}">&#9734</a>
                            <a href="{{ path('ajouterEvaluation', { 'id':u.id , 'nbr':5 }) }}">&#9734</a>
                        </font>
                        <br><br>

                    {% endif %}
                {% endif %}
            {% endfor %}#}
        </div>
    </div>
{% endblock %}
{% endblock %}
