{% extends 'Base_backend/base.html.twig' %}
{% block title %} Les clubs {% endblock %}
{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Liste des clubs</div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tabbable-line">

                        <div class="tab-content">
                            <div class="tab-pane active fontawesome-demo" id="tab1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card card-box">
                                            <div class="card-head">
                                                <header>Liste des clubs</header>
                                                <div class="tools">
                                                    <a class="fa fa-repeat btn-color box-refresh"
                                                       href="javascript:"></a>
                                                    <a class="t-collapse btn-color fa fa-chevron-down"
                                                       href="javascript:"></a>
                                                    <a class="t-close btn-color fa fa-times"
                                                       href="javascript:"></a>
                                                </div>
                                            </div>
                                            <div class="card-body ">

                                                <div class="table-scrollable">
                                                    <table
                                                            class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
                                                            id="example4">
                                                        <thead>
                                                        <tr>
                                                            <th> ID </th>
                                                            <th> Nom </th>
                                                            <th> Description </th>
                                                            <th> responsable </th>
                                                            <th> Action </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for club in clubs %}
                                                        <tr class="odd gradeX">
                                                            <td class="patient-img">
                                                                {{ club.id }}
                                                            </td>
                                                            <td class="left"> {{ club.nom }} </td>
                                                            <td>{{ club.description }}</td>
                                                            <td class="left">{{ club.responsable }} </td>
                                                            <td>
                                                                <a href="{{ path('update',{'id':club.id}) }}"
                                                                   class="btn btn-primary btn-xs">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                                <a href="{{ path('delete',{'id':club.id}) }}"
                                                                   class="btn btn-danger btn-xs">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>

                                                            </td>

                                                        </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $("#club").addClass("open active");
        $("#afficheclub").addClass("active");
    </script>
{% endblock %}