<!DOCTYPE html>
<html lang="en">
<head>
    <title>Genius | {% block titre %} {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">

    <link rel="stylesheet" href="{{asset('assets/Front/css/open-iconic-bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/Front/css/animate.css')}}">

    <link rel="stylesheet" href="{{asset('assets/Front/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/Front/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/Front/css/magnific-popup.css')}}">

    <link rel="stylesheet" href="{{asset('assets/Front/css/aos.css')}}">

    <link rel="stylesheet" href="{{asset('assets/Front/css/ionicons.min.css')}}">

    <link rel="stylesheet" href="{{asset('assets/Front/css/flaticon.css')}}">
    <link rel="stylesheet" href="{{asset('assets/Front/css/icomoon.css')}}">
    <link rel="stylesheet" href="{{asset('assets/Front/css/style.css')}}">
    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.jpg') }}">
</head>
<body>

<div class="py-2 bg-primary">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
            <div class="col-lg-12 d-block">
                <div class="row d-flex">
                    <div class="col-md-5 pr-4 d-flex topper align-items-center">
                        <div class="icon bg-fifth mr-2 d-flex justify-content-center align-items-center"><span class="icon-map"></span></div>
                        <span class="text">Ariana</span>
                    </div>
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon bg-secondary mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                        <span class="text">youremail@email.com</span>
                    </div>
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon bg-tertiary mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                        <span class="text">+216 22 222 222</span>
                    </div>
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon bg-tertiary mr-2 d-flex justify-content-center align-items-center"><span class="icon-user"></span></div>
                        {% if app.user %}
                        <a href="{{path('fos_user_security_logout')}}">
                            <span class="text">logout</span>
                        </a>
                        {% else %}
                        <a href="{{path('fos_user_security_login')}}">
                            <span class="text">login</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
    <div class="container d-flex align-items-center">
        <a class="navbar-brand" href="#">Genius</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <!-- <p class="button-custom order-lg-last mb-0"><a href="appointment.html" class="btn btn-secondary py-2 px-3">Make An Appointment</a></p> -->
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" id="accueil"><a href="{{ path('cantine_front_homepage') }}" class="nav-link pl-0">Accueil</a></li>
                <li class="nav-item" id="about"><a href="#" class="nav-link">A propos</a></li>
                <li class="nav-item" id="classe"><a href="{{path('gestion_afficheCfront')}}" class="nav-link">Classes</a></li>
                <li class="nav-item" id="series"><a href="{{path('serie_listfront')}}" class="nav-link">Series</a></li>
                <li class="nav-item" id="cours"><a href="{{path('cour_listfront')}}" class="nav-link">Cours</a></li>
                {% if app.user %}
                    {% if app.user.panier != null %}
                        <li class="nav-item" id="panier">
                            <a href="{{ path('afficher_panier') }}" class="nav-link">Panier</a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if is_granted('ROLE_ENSEIGNANT') %}
                    <li class="nav-item"><a href="{{ path('scolariteajoutfrontn') }}" class="nav-link">Ajouter Note</a></li>
                    <li class="nav-item"><a href="{{ path('scolaritereadfrontn') }}" class="nav-link">Consulter Notes</a></li>
                {% endif %}
                <li class="nav-item" id="evenement"><a href="{{path('events_frontshowvisitor')}}" class="nav-link">Evenement</a></li>
                <li class="nav-item" id="club"><a href="{{path('AfficherClubfront')}}" class="nav-link">Club</a></li>
                <li class="nav-item" id="don"><a href="{{ path('admin_AjoutDon')}}" class="nav-link">Don</a></li>
                {% if is_granted('ROLE_PARENT')  or is_granted('ROLE_ELEVE')%}
                    <li class="nav-item" id="cantine"><a href="{{path('afficher_menu')}}" class="nav-link">Cantine</a></li>
                {% endif %}
                <li class="nav-item" id="rec"><a href="{{path('gestion_afficheRfront')}}" class="nav-link">Reclamations</a></li>
                <li class="nav-item" id="contact"><a href="{{path('inscriptionNewsLetter')}}" class="nav-link">NewsLetter</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->

{% block baniere %}
{% endblock %}

<section class="ftco-section bg-light">
    {% block content %}
    {% endblock %}
   {% block events %}
   {% endblock %}

</section>

<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Vous avez des questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Ariana</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+216 22 222 222</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5 ml-md-4">
                    <h2 class="ftco-heading-2">Liens</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Accueil</a></li>
                        <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>A propos</a></li>
                        <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>



<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<script src="{{asset('assets/Front/js/jquery.min.js')}}"></script>
<script src="{{asset('assets/Front/js/jquery-migrate-3.0.1.min.js')}}"></script>
<script src="{{asset('assets/Front/js/popper.min.js')}}"></script>
<script src="{{asset('assets/Front/js/bootstrap.min.js')}}"></script>
<script src="{{asset('assets/Front/js/jquery.easing.1.3.js')}}"></script>
<script src="{{asset('assets/Front/js/jquery.waypoints.min.js')}}"></script>
<script src="{{asset('assets/Front/js/jquery.stellar.min.js')}}"></script>
<script src="{{asset('assets/Front/js/owl.carousel.min.js')}}"></script>
<script src="{{asset('assets/Front/js/jquery.magnific-popup.min.js')}}"></script>
<script src="{{asset('assets/Front/js/aos.js')}}"></script>
<script src="{{asset('assets/Front/js/jquery.animateNumber.min.js')}}"></script>
<script src="{{asset('assets/Front/js/scrollax.min.js')}}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="{{asset('assets/Front/js/google-map.js')}}"></script>
<script src="{{asset('assets/Front/js/main.js')}}"></script>
    {% block javascripts %}
    {% endblock %}
</body>
</html>