{% extends "base.html.twig" %}
{% block container  %}


    <div class="row">
    <div class="col-md-12">
    <div class="tabbable-line">

    <div class="tab-content">

    <div class="tab-pane active fontawesome-demo" id="tab1">

    <div class="row">


    <div class="col-md-12">

    <div class="card card-box">
    <div class="card-head">
        <header> Liste des reponse </header>
        <div class="tools">
            <a class="fa fa-repeat btn-color box-refresh"
               href="javascript:;"></a>
            <a class="t-collapse btn-color fa fa-chevron-down"
               href="javascript:;"></a>
            <a class="t-close btn-color fa fa-times"
               href="javascript:;"></a>
        </div>
    </div>

    <div class="card-body ">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-6">
            <div class="btn-group">
                <a href="ajoutcour" id="addRow"
                   class="btn btn-info">
                   Ajouter Nouveau cour  <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
            <div class="btn-group pull-right">
                <a class="btn deepPink-bgcolor  btn-outline dropdown-toggle"
                   data-toggle="dropdown">Tools
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-print"></i> Print </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-file-pdf-o"></i> Save as
                            PDF </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-file-excel-o"></i>
                            Export to Excel </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="table-scrollable">
    <table
            class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
            id="example4">
        <thead>
        <tr>
            <th> idrep  </th>
            <th> reponse </th>
            <th> nom serie a repondre </th>
            <th> note serie </th>
            <th> user </th>
            <th> Commantaire </th>


        </tr>
        </thead>
        <tbody>
        <tr class="odd gradeX">

        {% for infos in reponse %}
            <tr>
                <td>{{ infos.idreponse }}</td>
                <td> {{ infos.reponse.nomserie }}</td>
                <td>{{ infos.lienrep}}</td>
                <td>{{ infos.noteserier }}</td>
                <td>{{ infos.user }}</td>
                <td>{{ infos.commantaire}}</td>


            </tr>
        </tbody>
        {% endfor %}
    </table>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>



{% endblock %}