<div style="text-align: center;margin-top: 8%;margin-bottom: 8%;">
    <a href="{{ path('fos_user_registration_register') }}" style="" class="test">
        <img src="{{ asset('img/parent.png') }}" alt="" style="margin-right: 40px;width: 20%;">
    </a>
    <a href="{{ path('fos_user_registration_register2') }}" style="" class="test">
        <img src="{{ asset('img/eleve.png') }}" alt="" style="margin-right: 40px;width: 20%;">
    </a>
    <a href="{{ path('fos_user_registration_register1') }}" style="" class="test">
        <img src="{{ asset('img/enseignant.png') }}" alt="" style="margin-left: 40px;width: 20%;">
    </a>
</div>